body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background: #34343d;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

body {
    color: #b1b1b1;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #f37074;
    text-transform: uppercase;
}

a {color: #30B1D8;}

.top-bar {	background: #34343d;}

.menu-text{	background: #34343d;}

.menu a{background: #34343d;}